/*!
@contract anchor
{
	color: color
	weight: number
	padding: dimension
	alignment: flex-alignment
	hover {
		color: color
	}
}
*/

a {
	font-size: 16px;
	color: var(--anchor-color);
	font-weight: var(--anchor-weight);
	padding: var(--anchor-padding);
	align-items: var(--anchor-alignment);
}

a:hover {
	color: var(--anchor-hover-color);
}
